<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8"/>
    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
    <meta name="description" content="{{site.description}}"/>
    <meta name="author" content="{{site.author}}"/>
    <link rel="author" href="humans.txt"/>
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.css">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  </head>

  <body>
   <header class="blog-header">
     <div class="head-wrapper">
       <h1 class="blog-title"><a href="{{site.baseurl}}/">{{ site.name }}</a></h1>
       <h4 class="blog-description">{{ site.description }}</h4>
     </div>
   </header>

   <nav>
    </nav>
    <main>
       {{ content }}
    </main>
    <footer>
       <hr />
       <p>&copy; <time>2012</time> {{ site.author }}</p>
    </footer>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.js"></script>
    <script src="{{site.base_url}}/scripts.js"></script>
    </body>
</html>
