---
layout: default
---

<article class="entry-content">
 <div class="content">
  <header>
    <h2 class="entry-title">{{ page.title }}</h2>
  </header>

  <div class="entry">{{ content }}</div>

 </div>	
 <div class="entry-meta">
 	<span><i class="icon-clock"></i><time datetime="{{page.date|date:"%F"}}">{{page.date|date:"%b %d, %Y"}}</time></span><br/>
	<span class="author">By {{site.author}}</span><br />
 	<span class="category"><i class="icon-tag"></i> {{ page.tags | tag_links }}</span><br/>

 </div>
 <footer><!-- additional info --></footer>

										</article>
