---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: constantia, 'hoefler text', 'palatino linotype', serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #333;
$background-color: #fafafa;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.render-math {
    display: inline-block;
}

header.blog-header {
	background: #333 url({{ site.url }}/assets/stripes.png) repeat;
	margin-bottom: 1.25em;
	padding: .625em 0;
}

.head-wrapper {
	width: 60em;
	margin: 0 auto;
	position: relative;
}

h1.blog-title {
	font-size: 2.2em;
	color: #fff;
	text-decoration: none;
	line-height: 1;
	margin: 0;
}

h1.blog-title a {
	color: #fff;
	text-decoration: none;
}

h4.blog-description {
	font-size: .875em;
	color: #fff;
}

.entry-content {
	width: 60em;
	margin: 0 auto;
	position: relative;
}

.content {
	width: 33.75em;
	padding-left: 3.75em;
	padding-top: 1.5em;
	overflow: visible;
}

.entry-meta {
	position: absolute;
	top: 3.1875em;
	padding-left: 1.25em;
	width: 13.75em;
	right: 0em;
	border-left: 1px solid #aaa;
}

.entry-title {
	margin: 0 0 .5em;
	line-height: 1.5;
	color: #555;
	text-decoration: none;
	font-size: 1.5em;
}
